@*@model Aula3_MVC_Filme.Models.CategoriaModel*@

@{
    ViewData["Title"] = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<div class="row">
    <p>
        @*@Html.DisplayNameFor(model => model.Id)*@
        Id da Descrição
        <br />
        @ViewBag.Id
    </p>

    <p>
        @*@Html.DisplayNameFor(model => model.Descricao)*@
        Descrição da Categoria
        <br />
        @ViewBag.Descricao
    </p>

    <form asp-action="DeleteRegistro" asp-controller="Categoria" asp-route-id="@ViewBag.Id">
@*        <input type="hidden" asp-for="Id" />
*@        <input type="submit" value="Deletar registro @ViewBag.Id" />
    </form>
</div>